.form {
  padding: 8rem 2rem 4rem 2rem;
  max-width: 45rem;
  margin: 0 auto;
  text-align: center;
}

.form-list {
  text-align: center;
}

.form-list__item {
  margin: 0 0 2rem;
}

.form-question {
  text-align: start;
}

.form-question--input {
  width: 100%;
  max-width: 500px;
  height: 4rem;
}

.form-answer {
  text-align: start;
}

.form-answer--input {
  width: 100%;
  max-width: 500px;
  height: 4rem;
}

.form-tag {
  text-align: start;
}

.form-tag--input {
  width: 100%;
  max-width: 500px;
  height: 2rem;
}

.form-button {
  background: var(--secondary);
  color: var(--white);
  border: none;
  display: block;
  margin: 0 auto 2rem auto;
  padding: 0.5rem 2rem;
}

.characterCounter {
  text-align: end;
}
